*ipynb_checkpoints
papers-import/*.pdf
*.pdf

papers-import/import2015full/105/contents
ressources/*
Papers-import/import2018.zip
*.xml
papers-import/import2018/292/contents
papers-import/import2018/1/contents
papers-import/import2018/10/contents
papers-import/import2018/11/contents
papers-import/import2018/12/contents
papers-import/import2018/13/contents
papers-import/import2018/14/contents
papers-import/import2018/15/contents
papers-import/import2018/16/contents
papers-import/import2018/166/contents
papers-import/import2018/167/contents
papers-import/import2018/168/contents
papers-import/import2018/169/contents
papers-import/import2018/17/contents
papers-import/import2018/170/contents
papers-import/import2018/171/contents
papers-import/import2018/172/contents
papers-import/import2018/173/contents
papers-import/import2018/174/contents
papers-import/import2018/175/contents
papers-import/import2018/176/contents
papers-import/import2018/177/contents
papers-import/import2018/178/contents
papers-import/import2018/179/contents
papers-import/import2018/18/contents
papers-import/import2018/180/contents
papers-import/import2018/181/contents
papers-import/import2018/182/contents
papers-import/import2018/183/contents
papers-import/import2018/184/contents
papers-import/import2018/185/contents
papers-import/import2018/186/contents
papers-import/import2018/187/contents
papers-import/import2018/188/contents
papers-import/import2018/189/contents
papers-import/import2018/19/contents
papers-import/import2018/190/contents
papers-import/import2018/191/contents
papers-import/import2018/192/contents
papers-import/import2018/193/contents
papers-import/import2018/194/contents
papers-import/import2018/195/contents
papers-import/import2018/196/contents
papers-import/import2018/197/contents
papers-import/import2018/198/contents
papers-import/import2018/199/contents
papers-import/import2018/2/contents
papers-import/import2018/20/contents
papers-import/import2018/200/contents
papers-import/import2018/201/contents
papers-import/import2018/202/contents
papers-import/import2018/203/contents
papers-import/import2018/204/contents
papers-import/import2018/205/contents
papers-import/import2018/206/contents
papers-import/import2018/207/contents
papers-import/import2018/208/contents
papers-import/import2018/209/contents
papers-import/import2018/21/contents
papers-import/import2018/210/contents
papers-import/import2018/211/contents
papers-import/import2018/212/contents
papers-import/import2018/213/contents
papers-import/import2018/214/contents
papers-import/import2018/215/contents
papers-import/import2018/216/contents
papers-import/import2018/217/contents
papers-import/import2018/218/contents
papers-import/import2018/219/contents
papers-import/import2018/22/contents
papers-import/import2018/220/contents
papers-import/import2018/221/contents
papers-import/import2018/222/contents
papers-import/import2018/223/contents
papers-import/import2018/224/contents
papers-import/import2018/225/contents
papers-import/import2018/226/contents
papers-import/import2018/227/contents
papers-import/import2018/228/contents
papers-import/import2018/229/contents
papers-import/import2018/23/contents
papers-import/import2018/230/contents
papers-import/import2018/231/contents
papers-import/import2018/232/contents
papers-import/import2018/233/contents
papers-import/import2018/234/contents
papers-import/import2018/235/contents
papers-import/import2018/236/contents
papers-import/import2018/237/contents
papers-import/import2018/238/contents
papers-import/import2018/239/contents
papers-import/import2018/24/contents
papers-import/import2018/240/contents
papers-import/import2018/241/contents
papers-import/import2018/242/contents
papers-import/import2018/243/contents
papers-import/import2018/244/contents
papers-import/import2018/245/contents
papers-import/import2018/246/contents
papers-import/import2018/247/contents
papers-import/import2018/248/contents
papers-import/import2018/249/contents
papers-import/import2018/25/contents
papers-import/import2018/250/contents
papers-import/import2018/251/contents
papers-import/import2018/252/contents
papers-import/import2018/253/contents
papers-import/import2018/254/contents
papers-import/import2018/255/contents
papers-import/import2018/256/contents
papers-import/import2018/257/contents
papers-import/import2018/258/contents
papers-import/import2018/259/contents
papers-import/import2018/26/contents
papers-import/import2018/260/contents
papers-import/import2018/261/contents
papers-import/import2018/262/contents
papers-import/import2018/263/contents
papers-import/import2018/264/contents
papers-import/import2018/265/contents
papers-import/import2018/266/contents
papers-import/import2018/267/contents
papers-import/import2018/268/contents
papers-import/import2018/269/contents
papers-import/import2018/27/contents
papers-import/import2018/270/contents
papers-import/import2018/271/contents
papers-import/import2018/272/contents
papers-import/import2018/273/contents
papers-import/import2018/274/contents
papers-import/import2018/275/contents
papers-import/import2018/276/contents
papers-import/import2018/277/contents
papers-import/import2018/278/contents
papers-import/import2018/279/contents
papers-import/import2018/28/contents
papers-import/import2018/280/contents
papers-import/import2018/281/contents
papers-import/import2018/282/contents
papers-import/import2018/283/contents
papers-import/import2018/284/contents
papers-import/import2018/285/contents
papers-import/import2018/286/contents
papers-import/import2018/287/contents
papers-import/import2018/288/contents
papers-import/import2018/289/contents
papers-import/import2018/29/contents
papers-import/import2018/290/contents
papers-import/import2018/291/contents
papers-import/import2018/293/contents
papers-import/import2018/294/contents
papers-import/import2018/295/contents
papers-import/import2018/296/contents
papers-import/import2018/297/contents
papers-import/import2018/298/contents
papers-import/import2018/299/contents
papers-import/import2018/3/contents
papers-import/import2018/30/contents
papers-import/import2018/300/contents
papers-import/import2018/301/contents
papers-import/import2018/302/contents
papers-import/import2018/303/contents
papers-import/import2018/304/contents
papers-import/import2018/305/contents
papers-import/import2018/306/contents
papers-import/import2018/307/contents
papers-import/import2018/308/contents
papers-import/import2018/309/contents
papers-import/import2018/31/contents
papers-import/import2018/310/contents
papers-import/import2018/311/contents
papers-import/import2018/312/contents
papers-import/import2018/313/contents
papers-import/import2018/314/contents
papers-import/import2018/315/contents
papers-import/import2018/316/contents
papers-import/import2018/317/contents
papers-import/import2018/318/contents
papers-import/import2018/319/contents
papers-import/import2018/32/contents
papers-import/import2018/320/contents
papers-import/import2018/321/contents
papers-import/import2018/322/contents
papers-import/import2018/323/contents
papers-import/import2018/324/contents
papers-import/import2018/325/contents
papers-import/import2018/326/contents
papers-import/import2018/327/contents
papers-import/import2018/328/contents
papers-import/import2018/329/contents
papers-import/import2018/33/contents
papers-import/import2018/330/contents
papers-import/import2018/331/contents
papers-import/import2018/332/contents
papers-import/import2018/333/contents
papers-import/import2018/334/contents
papers-import/import2018/335/contents
papers-import/import2018/336/contents
papers-import/import2018/337/contents
papers-import/import2018/338/contents
papers-import/import2018/339/contents
papers-import/import2018/34/contents
papers-import/import2018/340/contents
papers-import/import2018/341/contents
papers-import/import2018/342/contents
papers-import/import2018/343/contents
papers-import/import2018/344/contents
papers-import/import2018/345/contents
papers-import/import2018/346/contents
papers-import/import2018/347/contents
papers-import/import2018/348/contents
papers-import/import2018/349/contents
papers-import/import2018/35/contents
papers-import/import2018/350/contents
papers-import/import2018/351/contents
papers-import/import2018/352/contents
papers-import/import2018/353/contents
papers-import/import2018/354/contents
papers-import/import2018/355/contents
papers-import/import2018/356/contents
papers-import/import2018/357/contents
papers-import/import2018/358/contents
papers-import/import2018/359/contents
papers-import/import2018/36/contents
papers-import/import2018/360/contents
papers-import/import2018/361/contents
papers-import/import2018/362/contents
papers-import/import2018/363/contents
papers-import/import2018/364/contents
papers-import/import2018/365/contents
papers-import/import2018/366/contents
papers-import/import2018/367/contents
papers-import/import2018/368/contents
papers-import/import2018/369/contents
papers-import/import2018/37/contents
papers-import/import2018/370/contents
papers-import/import2018/371/contents
papers-import/import2018/372/contents
papers-import/import2018/373/contents
papers-import/import2018/374/contents
papers-import/import2018/375/contents
papers-import/import2018/376/contents
papers-import/import2018/377/contents
papers-import/import2018/378/contents
papers-import/import2018/379/contents
papers-import/import2018/38/contents
papers-import/import2018/380/contents
papers-import/import2018/381/contents
papers-import/import2018/382/contents
papers-import/import2018/383/contents
papers-import/import2018/384/contents
papers-import/import2018/385/contents
papers-import/import2018/386/contents
papers-import/import2018/387/contents
papers-import/import2018/388/contents
papers-import/import2018/389/contents
papers-import/import2018/39/contents
papers-import/import2018/390/contents
papers-import/import2018/391/contents
papers-import/import2018/392/contents
papers-import/import2018/393/contents
papers-import/import2018/394/contents
papers-import/import2018/395/contents
papers-import/import2018/396/contents
papers-import/import2018/397/contents
papers-import/import2018/398/contents
papers-import/import2018/399/contents
papers-import/import2018/4/contents
papers-import/import2018/40/contents
papers-import/import2018/400/contents
papers-import/import2018/401/contents
papers-import/import2018/402/contents
papers-import/import2018/403/contents
papers-import/import2018/404/contents
papers-import/import2018/405/contents
papers-import/import2018/406/contents
papers-import/import2018/407/contents
papers-import/import2018/408/contents
papers-import/import2018/409/contents
papers-import/import2018/41/contents
papers-import/import2018/410/contents
papers-import/import2018/411/contents
papers-import/import2018/412/contents
papers-import/import2018/413/contents
papers-import/import2018/414/contents
papers-import/import2018/415/contents
papers-import/import2018/416/contents
papers-import/import2018/417/contents
papers-import/import2018/418/contents
papers-import/import2018/419/contents
papers-import/import2018/42/contents
papers-import/import2018/420/contents
papers-import/import2018/421/contents
papers-import/import2018/422/contents
papers-import/import2018/423/contents
papers-import/import2018/424/contents
papers-import/import2018/425/contents
papers-import/import2018/426/contents
papers-import/import2018/427/contents
papers-import/import2018/428/contents
papers-import/import2018/429/contents
papers-import/import2018/43/contents
papers-import/import2018/430/contents
papers-import/import2018/431/contents
papers-import/import2018/432/contents
papers-import/import2018/433/contents
papers-import/import2018/434/contents
papers-import/import2018/435/contents
papers-import/import2018/436/contents
papers-import/import2018/437/contents
papers-import/import2018/438/contents
papers-import/import2018/439/contents
papers-import/import2018/44/contents
papers-import/import2018/440/contents
papers-import/import2018/441/contents
papers-import/import2018/442/contents
papers-import/import2018/443/contents
papers-import/import2018/444/contents
papers-import/import2018/445/contents
papers-import/import2018/446/contents
papers-import/import2018/447/contents
papers-import/import2018/448/contents
papers-import/import2018/449/contents
papers-import/import2018/45/contents
papers-import/import2018/450/contents
papers-import/import2018/451/contents
papers-import/import2018/452/contents
papers-import/import2018/453/contents
papers-import/import2018/454/contents
papers-import/import2018/455/contents
papers-import/import2018/456/contents
papers-import/import2018/457/contents
papers-import/import2018/458/contents
papers-import/import2018/459/contents
papers-import/import2018/46/contents
papers-import/import2018/460/contents
papers-import/import2018/461/contents
papers-import/import2018/462/contents
papers-import/import2018/463/contents
papers-import/import2018/464/contents
papers-import/import2018/465/contents
papers-import/import2018/466/contents
papers-import/import2018/467/contents
papers-import/import2018/468/contents
papers-import/import2018/469/contents
papers-import/import2018/47/contents
papers-import/import2018/470/contents
papers-import/import2018/471/contents
papers-import/import2018/472/contents
papers-import/import2018/473/contents
papers-import/import2018/474/contents
papers-import/import2018/475/contents
papers-import/import2018/476/contents
papers-import/import2018/477/contents
papers-import/import2018/478/contents
papers-import/import2018/479/contents
papers-import/import2018/48/contents
papers-import/import2018/480/contents
papers-import/import2018/481/contents
papers-import/import2018/482/contents
papers-import/import2018/483/contents
papers-import/import2018/484/contents
papers-import/import2018/485/contents
papers-import/import2018/486/contents
papers-import/import2018/487/contents
papers-import/import2018/488/contents
papers-import/import2018/489/contents
papers-import/import2018/49/contents
papers-import/import2018/490/contents
papers-import/import2018/491/contents
papers-import/import2018/492/contents
papers-import/import2018/493/contents
papers-import/import2018/494/contents
papers-import/import2018/495/contents
papers-import/import2018/496/contents
papers-import/import2018/497/contents
papers-import/import2018/498/contents
papers-import/import2018/499/contents
papers-import/import2018/5/contents
papers-import/import2018/50/contents
papers-import/import2018/500/contents
papers-import/import2018/501/contents
papers-import/import2018/502/contents
papers-import/import2018/503/contents
papers-import/import2018/504/contents
papers-import/import2018/505/contents
papers-import/import2018/506/contents
papers-import/import2018/507/contents
papers-import/import2018/508/contents
papers-import/import2018/509/contents
papers-import/import2018/51/contents
papers-import/import2018/510/contents
papers-import/import2018/511/contents
papers-import/import2018/512/contents
papers-import/import2018/513/contents
papers-import/import2018/514/contents
papers-import/import2018/515/contents
papers-import/import2018/516/contents
papers-import/import2018/517/contents
papers-import/import2018/518/contents
papers-import/import2018/519/contents
papers-import/import2018/52/contents
papers-import/import2018/520/contents
papers-import/import2018/521/contents
papers-import/import2018/522/contents
papers-import/import2018/523/contents
papers-import/import2018/524/contents
papers-import/import2018/525/contents
papers-import/import2018/526/contents
papers-import/import2018/527/contents
papers-import/import2018/528/contents
papers-import/import2018/529/contents
papers-import/import2018/53/contents
papers-import/import2018/54/contents
papers-import/import2018/55/contents
papers-import/import2018/56/contents
papers-import/import2018/57/contents
papers-import/import2018/58/contents
papers-import/import2018/59/contents
papers-import/import2018/6/contents
papers-import/import2018/60/contents
papers-import/import2018/61/contents
papers-import/import2018/62/contents
papers-import/import2018/63/contents
papers-import/import2018/64/contents
papers-import/import2018/65/contents
papers-import/import2018/66/contents
papers-import/import2018/67/contents
papers-import/import2018/68/contents
papers-import/import2018/69/contents
papers-import/import2018/7/contents
papers-import/import2018/70/contents
papers-import/import2018/71/contents
papers-import/import2018/72/contents
papers-import/import2018/73/contents
papers-import/import2018/74/contents
papers-import/import2018/75/contents
papers-import/import2018/76/contents
papers-import/import2018/77/contents
papers-import/import2018/78/contents
papers-import/import2018/79/contents
papers-import/import2018/8/contents
papers-import/import2018/80/contents
papers-import/import2018/81/contents
papers-import/import2018/82/contents
papers-import/import2018/9/contents
extraction_nour.ipynb
